<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/svg+xml" href="{{ "/" | relative_url }}assets/images/favicon.svg">
		<link rel="icon" type="image/png" href="{{ "/" | relative_url }}assets/images/favicon.png">
		
		<meta property="og:title" content="{{ page.title | escape }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url | uri_escape }}{{ page.url | uri_escape }}">

		<title>{{ page.title | escape }}</title>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
		<link href="{{ "/" | relative_url }}assets/css/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		
		<div class="container">
			
			{{ content }}
			
		</div>
		
	</body>
</html>
